@import "tailwindcss";

@theme {
  /* Hijau Utama (bs-green) */
  --color-brand-green: #198754; 
  
  /* Kuning Aisyiyah (bs-warning) */
  --color-brand-yellow: #ffc107; 

  /* Oranye UAD */
  --color-brand-orange: #f26522; 

  /* Definisi Animasi */
  --animate-marquee: marquee 25s linear infinite;
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

@layer utilities {
  .pause-animation {
    animation-play-state: paused;
  }
}